/* Hero.css */

/* Section */
.hero-section {
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

/* Container */
.hero-container {
  height: 100%;
  scroll-snap-align: center;
  width: 1100px;
  display: flex;
  justify-content: space-between;
}

/* Left */
.hero-left {
  flex: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Title */
.hero-title {
  font-size: 40px;
}

/* WhatIDo */
.hero-whatido {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Line */
.hero-line {
  height: 5px;
}

/* Subtitle */
.hero-subtitle {
  color: #c34eda;
}

/* Desc */
.hero-desc {
  font-size: 24px;
}

/* Social-icons */
.social-icons a {
  font-size: 30px;
  margin-left: 30px;
  margin-top: 15px;
  text-decoration: none;
  color: #c34eda;
}

/* Right */
.hero-right {
  flex: 3;
  position: relative;
}

/* Img */
.hero-img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: absolute;
  inset: 0;
  object-fit: cover;
  margin: auto;
  animation: animate 2s infinite ease alternate;
}

@keyframes animate {
  to {
    transform: translateY(20px);
  }
}


@media only screen and (max-width: 786px) {
  .hero-section{
    height: 200vh;
  }
  .hero-container{
    width: 100%;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 10px;
  }
  .hero-left{
    flex: 1;
    align-items: center;
    width: 90%;
  }
  .hero-right{
    flex: 1;
    width: 100%;
  }
  .hero-img{
    width: 200;
    height: 200;
  }
  .hero-desc{
    text-align: center;
  }
}