.info-secton {
  scroll-snap-align: center;
  min-height: 100vh;
  padding: 60px 0;
}

.info-container {
  min-height: 100vh;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  gap: 40px;
}

.left-container {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

/* Title */
.info-title {
  font-size: 40px;
}

/* What I do */
.info-whatido {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Line */
.info-line {
  height: 5px;
}

/* Subtitle */
.info-subtitle {
  color: #c34eda;
}

/* Description */
.info-desc {
  font-size: 21px;
}

/* Button */
.info-button {
  border: none;
  outline: none;
  width: 150px;
  background-color: #c34eda;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all ease 0.1s;
}

.info-button:hover {
  box-shadow: 0px 5px 6px silver;
}

.info-button a {
  text-decoration: none;
}

/* RIGHT SIDE */
.right-container {
  flex: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD CONTAINER */
.card-container {
  width: 100%;
  max-width: 650px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
  border-radius: 10px;
  background-color: #25253e;
  transition: 0.5s ease-in-out;
}

.card-container:hover {
  box-shadow: 0 0 10px #c34eda;
}

/* CARD */
.card {
  width: 280px;
  height: 200px;
  perspective: 1000px;
}

/* INNER */
.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

/* FRONT & BACK FIX */
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 10px;
}

/* FRONT */
.card-front {
  border: 2px solid silver;
  overflow: hidden;
}

.card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BACK */
.card-back {
  color: #aaaacc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #f0dbd1;
  transform: rotateY(180deg);
  padding: 10px;
}

/* TEXT */
.card-back h1 {
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.card-back h5 {
  margin: 10px 0;
  font-size: 13px;
  text-align: center;
}

/* BUTTON */
.card-back button {
  align-self: center;
  border: none;
  outline: none;
  width: 120px;
  background-color: #c34eda;
  padding: 8px 15px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.card-back button a {
  text-decoration: none;
  color: white;
}

/* MOBILE */
@media only screen and (max-width: 786px) {
  .info-container {
    height: auto;
    width: 90%;
    flex-direction: column;
    align-items: center;
  }

  .left-container {
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
  }

  .right-container {
    width: 100%;
  }

  .card-container {
    width: 100%;
    margin: 0 auto;
    height: auto;
  }

  .card {
    width: 90%;
    height: 200px;
  }

  .info-desc {
    text-align: center;
  }
}
